html,
body,
#root,
#root > div {
  height: 100%;
}

button {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: solid 1px silver;
  margin: 5px;
}

input {
  outline: none;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px silver;
  margin: 5px;
}

button[disabled] {
  cursor: not-allowed;
}
